/* MotoGP-Desktop*/
/* Hoja de estilo para el juego de memoria con cartas */

/* Regla con el estilo general para las tarjetas del juego */
/* especificidad: 002 */
main article {
    position: relative;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0);
}

/* Regla para pantallas de ordenadores*/
@media screen and (min-width:800px){

    /* Especificidad 002 */
    /* Redimensiones para pantallas de ordenadores */
    main article {
        width: 10em;
        height: 15em;
    }    
}

/* Regla para pantallas de dispositivos moviles*/
@media screen and (min-width:320px) and (max-width:799px){
    
    /* Especificidad 002 */
    /* Redimension para pantallas de dispositivos moviles */
    main article {
        width: 100%;
        aspect-ratio: 3 / 4;
    }
}

/* Regla con la transformación que permite girar la carta cuando se le pone el atributo personalizado data-estado al valor volteada */
/* especificidad: 012 */
main article[data-estado=volteada] {
    transform: rotateY(180deg);
}

/* Regla con la transformación que permite girar la carta cuando se le pone el atributo personalizado data-estado al valor revelada */
/* especificidad: 012 */
main article[data-estado=revelada]{
    transform: rotateY(180deg);
}

/* Reglas con los estilos generales para el encabezado y la imagen de la carta */
/* especificidad: 002 */
article h3 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5em;
    background: #9c1717;
    backface-visibility: hidden;
    /* color se hereda de body */
}


/* Regla para centrar el texto "Memory Card" vertical y horizontalmente en cada carta */
/* especificidad: 002 */
article h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Regla para rotar las imágenes y que se vean correctamente cuando se giran las cartas */
/* especificidad: 002 */
article img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5em;
    background: white;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    /* color se hereda de body */
}