/* Daniel López Fdez - UO289510 */
/* Estilos generales del proyecto MotoGP-Desktop */

/*Especifidad 001*/
body {
    font-family: "Century Gothic", sans-serif;
    color: #f1eded;
    background-color: #424242;
}

/*Especifidad 001*/
header{
    background-color:#9c1717;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    align-items: center;
}

/*Especifidad 001*/
nav{
   color:rgb(190, 186, 186);
    font-size:large;
    /*background-color se hereda de header*/
}

/* Especifidad 001*/
h1{
    color:white;
    /*background color se hereda de body*/
}

a {
    color:white;
}

main a:hover {
    background-color: #9c1717;
    color:white;
}

a:visited {
    color:rgb(153, 153, 153);
}

h1 a:visited{
    color:white;
}

/* Especifidad 001*/
nav :link{
    color:white;
    /* background color se hereda de header */
}

/* Especifidad 011*/
nav :visited{
    color:beige;
    /*background color se hereda de header */
}

a :visited{
    color: beige;
    /*background color se herad de body */
}

/* Especifidad 010*/
nav .active{
    color: black;
    background-color: white;
    font-size: x-large;
}

/* Especifidad 011*/
p :visited{
    color:beige;
    /* background color se hereda de body */
}

video,
img,
audio {
    width: 100%;
    height: auto;
}

body > div {
    width: 100%;
    max-width: 60em;
    height: 40em;
    margin: 0 auto;
}