/* Daniel López Fdez - UO289510 */
/* Estilos generales del proyecto MotoGP-Desktop */

/*Especifidad 001*/
body {
    font-family: "Century Gothic", sans-serif;
    color: #575757;
    background-color: #fff;
}