main {
    display: grid;
    grid-template-columns: repeat(4, 0.1fr); 
    gap: 0.5em;
    justify-content: center;
}

main > h2 {
    grid-column: 1 / -1; 
    justify-self: center;
}

main p {
    grid-column: 1 / -1; 
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}