/* Daniel López Fernández - UO289510 */

header{
    flex:1;
    justify-content: center;
}

nav{
    display:flex;
    align-items: center;
    gap: 1em;
}

svg {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width:320px) and (max-width:799px){
    header,
    header h1,
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav a {
        display: inline-block;
        margin: 0.5em 0;
    }

    p:first-of-type{
        display: none;
    }

    video,
    audio {
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
        height: auto;
    }

    article h2 + img {
        width: 100%;
        height: auto;
    }

    body > div {
        width: 100%;
        height: 30em;
    }
}


