@media screen and (min-width:800px){
    main {
        display: grid;
        grid-template-columns: repeat(4, 0.1fr); 
        gap: 0.5em;
        justify-content: center;
    }
}

@media screen and (min-width:320px) and (max-width:799px){
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 0.5em;
        justify-content: center;
    }
}

main > h2 {
    grid-column: 1 / -1; 
    justify-self: center;
}

main p {
    grid-column: 1 / -1; 
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

main article {
    aspect-ratio: 3 / 4;
    height: auto;
}