/* Especificidad 001*/
main {
    display: grid;
    gap: 0.5em;
    justify-content: center;
}

@media screen and (min-width:800px){
    /* Redimension para pantallas de ordenadores*/
    /*Especificidad 001*/
    main {
        grid-template-columns: repeat(4, 0.1fr);
    }
}

@media screen and (min-width:320px) and (max-width:799px){
    /* Redimension para pantallas de dispositivos moviles*/
    /* Especificidad 001*/
    main {
        grid-template-columns: repeat(4, 1fr); 
    }
}

/* Especificidad 002*/
main > h2 {
    grid-column: 1 / -1; 
    justify-self: center;
}

/* Especificidad 002*/
main p {
    grid-column: 1 / -1; 
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

/*Especificidad 002*/
main article {
    aspect-ratio: 3 / 4;
    height: auto;
}